<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/images/favicon.png">
    <title>Welcome to FlatShop</title>
    <link href="/css/bootstrap.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,300,300italic,400italic,500,700,500italic,100italic,100' rel='stylesheet'
        type='text/css'>
    <link href="/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/flexslider.css" type="text/css" media="screen" />
    <link href="/css/sequence-looptheme.css" rel="stylesheet" media="all" />
    <link href="/css/style.css" rel="stylesheet">
    <link href="/stylesheets/style.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>


    <!--[if lt IE 9]><script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script><script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script><![endif]-->
</head>

<body>
    <div class="wrapper" ng-app="myShoppingList" ng-controller="myCtrl">
        <div class="header">
            <div class="container">
                <div class="row">
                    <div class="col-md-2 col-sm-2">
                        <div class="logo">
                            <a href="index.html">
                                <img src="/images/Logo_IUH.png" alt="iuh">
                        </div>
                    </div>
                    <div class="col-md-10 col-sm-10">
                        <div class="header_top">
                            <div class="row">
                                <div class="col-md-3">
                                </div>
                                <div class="col-md-6">
                                    <ul class="topmenu">
                                        <li>
                                            <a href="#">
                                                About Us
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                News
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                Service
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                Recruiment
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                Media
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                Support
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-md-3">
                                    <ul class="usermenu">
                                        <% if(!hello) { %>
                                            <li>
                                                <a href="/login" class="log">Login</a>
                                            </li>
                                            <li>
                                                <a href="Registration.html" class="reg">Register</a>
                                            </li>
                                            <%}else{ %>
                                                <li>
                                                    <a href="#" class="log">Hello
                                                        <%= hello %>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="/logout" class="reg">Logout</a>
                                                </li>
                                                <%} %>

                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix">
                        </div>
                        <div class="header_bottom">
                            <ul class="option">
                                <li id="search" class="search">
                                    <form>
                                        <input class="search-submit" type="submit" value="">
                                        <input class="search-input" placeholder="Enter your search term..." type="text" value="" name="search">
                                    </form>
                                </li>
                                <li class="option-cart">
                                    <a href="/cart" class="cart-icon">cart
                                        <span class="cart_no" id="select">{{Quantity}}</span>
                                    </a>
                                    <ul class="option-cart-item">

                                        <li ng-repeat="x in products">
                                            <div class="cart-item">
                                                <div class="image">
                                                    <img src="{{x.image}}" alt="">
                                                </div>
                                                <div class="item-description">
                                                    <p class="name">{{x.name}}</p>
                                                    <p>
                                                        <span class="light-red">{{x.size}}</span>
                                                        <br>Quantity:
                                                        <span class="light-red">{{x.sl}}</span>
                                                    </p>
                                                </div>
                                                <div class="right">
                                                    <!-- <p class="price" >$30.00</p> -->
                                                    <a ng-click="removeItem($index)" class="remove">
                                                        <img src="/images/remove.png" alt="remove">
                                                    </a>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <span class="total">Total
                                                <strong id="price">${{ getTotal() }}</strong>
                                            </span>
                                            <button class="checkout" onClick="location.href='/cart'">CheckOut</button>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                    <span class="sr-only">
                                        Toggle navigation
                                    </span>
                                    <span class="icon-bar">
                                    </span>
                                    <span class="icon-bar">
                                    </span>
                                    <span class="icon-bar">
                                    </span>
                                </button>
                            </div>
                            <div class="navbar-collapse collapse">
                                <ul class="nav navbar-nav">
                                    <li class="active dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                            Home
                                        </a>
                                        <div class="dropdown-menu">
                                            <ul class="mega-menu-links">
                                                <li>
                                                    <a href="index.html">
                                                        home
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="home2.html">
                                                        home2
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="home3.html">
                                                        home3
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="productlitst.html">
                                                        Productlitst
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="productgird.html">
                                                        Productgird
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="details.html">
                                                        Details
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="cart.html">
                                                        Cart
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="checkout.html">
                                                        CheckOut
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="checkout2.html">
                                                        CheckOut2
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="contact.html">
                                                        contact
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li>
                                        <a href="productgird.html">
                                            men
                                        </a>
                                    </li>
                                    <li>
                                        <a href="productlitst.html">
                                            women
                                        </a>
                                    </li>
                                    <li class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                            Fashion
                                        </a>
                                        <div class="dropdown-menu mega-menu">
                                            <div class="row">
                                                <div class="col-md-6 col-sm-6">
                                                    <ul class="mega-menu-links">
                                                        <li>
                                                            <a href="productgird.html">
                                                                New Collection
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="productgird.html">
                                                                Shirts & tops
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="productgird.html">
                                                                Laptop & Brie
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="productgird.html">
                                                                Dresses
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="productgird.html">
                                                                Blazers & Jackets
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="productgird.html">
                                                                Shoulder Bags
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="col-md-6 col-sm-6">
                                                    <ul class="mega-menu-links">
                                                        <li>
                                                            <a href="productgird.html">
                                                                New Collection
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="productgird.html">
                                                                Shirts & tops
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="productgird.html">
                                                                Laptop & Brie
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="productgird.html">
                                                                Dresses
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="productgird.html">
                                                                Blazers & Jackets
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="productgird.html">
                                                                Shoulder Bags
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <a href="productgird.html">
                                            gift
                                        </a>
                                    </li>
                                    <li>
                                        <a href="productgird.html">
                                            kids
                                        </a>
                                    </li>
                                    <li>
                                        <a href="productgird.html">
                                            blog
                                        </a>
                                    </li>
                                    <li>
                                        <a href="productgird.html">
                                            jewelry
                                        </a>
                                    </li>
                                    <li>
                                        <a href="contact.html">
                                            contact us
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix">
            </div>
            <div class="page-index">
                <div class="container">
                    <p>
                        Home - Products Details
                    </p>
                </div>
            </div>
        </div>
        <div class="clearfix">
        </div>
        <div class="container_fullwidth">
            <div class="container">
                <div class="row">
                    <div class="col-md-9">
                        <div class="products-details">
                            <% products.forEach(function (pd) { %>
                                <div class="preview_image">
                                    <div class="preview-small">
                                        <img id="zoom_03" src="https://static.easygenerator.com/wp-content/uploads/2013/09/demo.jpg" data-zoom-image="" alt="">
                                    </div>

                                </div>
                                <div class="products-description">
                                    <h5 class="name">
                                        <%= pd.productName%>
                                    </h5>
                                    <p>
                                        <img alt="" src="images/star.png">
                                        <a class="review_num" href="#">
                                        </a>
                                    </p>
                                    <p>
                                        Availability:
                                        <span class=" light-red">
                                            <%if(pd.sizeQty.S >0 || pd.sizeQty.M >0||pd.sizeQty.L >0||pd.sizeQty.XL >0){%>
                                                In Stock
                                            <%}else{%>
                                                Out of stock
                                            <%}%>
                                        </span>
                                    </p>
                                    <p>
                                        <%= pd.description%>
                                    </p>
                                    <hr class="border">
                                    <div class="price">
                                        Price :
                                        <span class="new_price">
                                            <%= pd.price%>
                                                <sup>
                                                    $
                                                </sup>
                                        </span>
                                        <span class="old_price">
                                            <sup>
                                            </sup>
                                        </span>
                                    </div>
                                    <p></p>
                                    <p></p>
                                    <p></p>
                                    <p></p>
                                    <p></p>
                                    <p></p>
                                    <p></p>
                                    <div class="clearfix">
                                        <div class="cable-config">
                                            <span>Size:</span>
                                            <p></p>
                                            <p></p>
                                            <p></p>
                                            <div class="cable-choose">
                                                <form>
                                                    
                                                    <%if(pd.sizeQty.S > 0){%>
                                                        <input type="radio" ng-model="size" value="S" ng-required="!size"> 
                                                        <label for="test1">S</label>
                                                    <%}%>
                                                    <%if(pd.sizeQty.M > 0){%>
                                                        <input type="radio" ng-model="size" value="M" ng-required="!size">
                                                        <label for="test1">M</label>
                                                    <%}%>
                                                    <%if(pd.sizeQty.L > 0){%>
                                                        <input type="radio" ng-model="size" value="L" ng-required="!size">
                                                        <label for="test1">L</label>
                                                    <%}%>
                                                </form>

                                            </div>
                                            <a href="#"></a>
                                        </div>
                                    </div>
                                    <hr class="border">
                                    <div class="wided">
                                        <div class="qty">
                                            Qty &nbsp;&nbsp;:
                                            <select>
                                                <option>
                                                    1
                                                </option>
                                            </select>
                                        </div>
                                        <div class="button_group">
                                                <button class="button add-cart" 
                                                data="<%=pd._id %>" 
                                                money="<%=pd.price%>" 
                                                name="<%= pd.productName%>" 
                                                image="images/products/small/products-03.png"
                                                size = "{{size}}"
                                                type="button" 
                                                ng-click="addItem($event)">
                                                Add To Cart
                                            </button>
                                            <button class="button compare">
                                                <i class="fa fa-exchange">
                                                </i>
                                            </button>
                                            <button class="button favorite">
                                                <i class="fa fa-heart-o">
                                                </i>
                                            </button>
                                            <button class="button favorite">
                                                <i class="fa fa-envelope-o">
                                                </i>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="clearfix">
                                    </div>
                                    <hr class="border">
                                    <img src="images/share.png" alt="" class="pull-right">
                                </div>
                        </div>
                        <div class="clearfix">
                        </div>
                        <div class="tab-box">
                            <div id="tabnav">
                                <ul>
                                    <li>
                                        <a href="#Descraption">
                                            DESCRIPTION
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#Reviews">
                                            REVIEW
                                        </a>
                                    </li>
                                    <!--<li>-->
                                    <!--<a href="#tags">-->
                                    <!--PRODUCT TAGS-->
                                    <!--</a>-->
                                    <!--</li>-->
                                </ul>
                            </div>
                            <div class="tab-content-wrap">
                                <div class="tab-content" id="Descraption">
                                    <p>
                                        <%= pd.description%>
                                    </p>
                                    <p>
                                    </p>
                                </div>
                                <% })%>
                                    <div class="tab-content" id="Reviews">
                                        <form>
                                            <table>
                                                <thead>
                                                    <tr>
                                                        <th>
                                                            &nbsp;
                                                        </th>
                                                        <th>
                                                            1 star
                                                        </th>
                                                        <th>
                                                            2 stars
                                                        </th>
                                                        <th>
                                                            3 stars
                                                        </th>
                                                        <th>
                                                            4 stars
                                                        </th>
                                                        <th>
                                                            5 stars
                                                        </th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>
                                                            Quality
                                                        </td>
                                                        <td>
                                                            <input type="radio" name="quality" value="Blue" />
                                                        </td>
                                                        <td>
                                                            <input type="radio" name="quality" value="">
                                                        </td>
                                                        <td>
                                                            <input type="radio" name="quality" value="">
                                                        </td>
                                                        <td>
                                                            <input type="radio" name="quality" value="">
                                                        </td>
                                                        <td>
                                                            <input type="radio" name="quality" value="">
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            Price
                                                        </td>
                                                        <td>
                                                            <input type="radio" name="price" value="">
                                                        </td>
                                                        <td>
                                                            <input type="radio" name="price" value="">
                                                        </td>
                                                        <td>
                                                            <input type="radio" name="price" value="">
                                                        </td>
                                                        <td>
                                                            <input type="radio" name="price" value="">
                                                        </td>
                                                        <td>
                                                            <input type="radio" name="price" value="">
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            Value
                                                        </td>
                                                        <td>
                                                            <input type="radio" name="value" value="">
                                                        </td>
                                                        <td>
                                                            <input type="radio" name="value" value="">
                                                        </td>
                                                        <td>
                                                            <input type="radio" name="value" value="">
                                                        </td>
                                                        <td>
                                                            <input type="radio" name="value" value="">
                                                        </td>
                                                        <td>
                                                            <input type="radio" name="value" value="">
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                            <div class="row">
                                                <div class="col-md-6 col-sm-6">
                                                    <div class="form-row">
                                                        <label class="lebel-abs">
                                                            Your Name
                                                            <strong class="red">
                                                                *
                                                            </strong>
                                                        </label>
                                                        <input type="text" name="" class="input namefild">
                                                    </div>
                                                    <div class="form-row">
                                                        <label class="lebel-abs">
                                                            Your Email
                                                            <strong class="red">
                                                                *
                                                            </strong>
                                                        </label>
                                                        <input type="email" name="" class="input emailfild">
                                                    </div>
                                                    <div class="form-row">
                                                        <label class="lebel-abs">
                                                            Summary of You Review
                                                            <strong class="red">
                                                                *
                                                            </strong>
                                                        </label>
                                                        <input type="text" name="" class="input summeryfild">
                                                    </div>
                                                </div>
                                                <div class="col-md-6 col-sm-6">
                                                    <div class="form-row">
                                                        <label class="lebel-abs">
                                                            Your Name
                                                            <strong class="red">
                                                                *
                                                            </strong>
                                                        </label>
                                                        <textarea class="input textareafild" name="" rows="7">
                            </textarea>
                                                    </div>
                                                    <div class="form-row">
                                                        <input type="submit" value="Submit" class="button">
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="tab-content">
                                        <div class="review">
                                            <p class="rating">
                                                <i class="fa fa-star light-red">
                                                </i>
                                                <i class="fa fa-star light-red">
                                                </i>
                                                <i class="fa fa-star light-red">
                                                </i>
                                                <i class="fa fa-star-half-o gray">
                                                </i>
                                                <i class="fa fa-star-o gray">
                                                </i>
                                            </p>
                                            <h5 class="reviewer">
                                                Reviewer name
                                            </h5>
                                            <p class="review-date">
                                                Date: 01-01-2014
                                            </p>
                                            <p>
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer a eros neque. In sapien est, malesuada non interdum id,
                                                cursus vel neque.
                                            </p>
                                        </div>
                                        <div class="review">
                                            <p class="rating">
                                                <i class="fa fa-star light-red">
                                                </i>
                                                <i class="fa fa-star light-red">
                                                </i>
                                                <i class="fa fa-star light-red">
                                                </i>
                                                <i class="fa fa-star-half-o gray">
                                                </i>
                                                <i class="fa fa-star-o gray">
                                                </i>
                                            </p>
                                            <h5 class="reviewer">
                                                Reviewer name
                                            </h5>
                                            <p class="review-date">
                                                Date: 01-01-2014
                                            </p>
                                            <p>
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer a eros neque. In sapien est, malesuada non interdum id,
                                                cursus vel neque.
                                            </p>
                                        </div>
                                    </div>
                                    <div class="tab-content" id="tags">
                                        <div class="tag">
                                            Add Tags :
                                            <input type="text" name="">
                                            <input type="submit" value="Tag">
                                        </div>
                                    </div>
                            </div>
                        </div>
                        <div class="clearfix">
                        </div>
                        <div id="productsDetails" class="hot-products">
                            <h3 class="title">
                                <strong>
                                    Hot
                                </strong>
                                Products
                            </h3>
                            <div class="control">
                                <a id="prev_hot" class="prev" href="#">
                                    &lt;
                                </a>
                                <a id="next_hot" class="next" href="#">
                                    &gt;
                                </a>
                            </div>
                            <ul id="hot">
                                <li>
                                    <div class="row">
                                        <% listCate.forEach(function (item) { %>
                                            <div class="col-md-4 col-sm-4">
                                                <div class="products">
                                                    <div class="thumbnail">
                                                        <img width="220px" src="https://static.easygenerator.com/wp-content/uploads/2013/09/demo.jpg" alt="Product Name">
                                                    </div>
                                                    <div class="productname">
                                                        <%= item.productName%>
                                                    </div>
                                                    <h4 class="price">
                                                        $
                                                        <%= item.price%>
                                                    </h4>
                                                    <div class="button_group">
                                                        <button class="button add-cart" 
                                                            data="<%=item._id %>" 
                                                            money="<%=item.price%>" 
                                                            name="<%= item.productName%>" 
                                                            image="images/products/small/products-03.png"
                                                            size = "{{size}}"
                                                            type="button" 
                                                            ng-click="addItem($event)">
                                                            Add To Cart
                                                        </button>
                                                        <button class="button compare" type="button">
                                                            <i class="fa fa-exchange">
                                                            </i>
                                                        </button>
                                                        <button class="button wishlist" type="button">
                                                            <i class="fa fa-heart-o">
                                                            </i>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                            <% })%>
                                    </div>


                                </li>
                            </ul>
                        </div>
                        <div class="clearfix">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="special-deal leftbar">
                            <h4 class="title">
                                Special
                                <strong>
                                    Deals
                                </strong>
                            </h4>
                            <div class="special-item">
                                <div class="product-image">
                                    <a href="#">
                                        <img src="images/products/thum/products-01.png" alt="">
                                    </a>
                                </div>
                                <div class="product-info">
                                    <p>
                                        Licoln Corner Unit
                                    </p>
                                    <h5 class="price">
                                        $300.00
                                    </h5>
                                </div>
                            </div>
                            <div class="special-item">
                                <div class="product-image">
                                    <a href="#">
                                        <img src="images/products/thum/products-02.png" alt="">
                                    </a>
                                </div>
                                <div class="product-info">
                                    <p>
                                        Licoln Corner Unit
                                    </p>
                                    <h5 class="price">
                                        $300.00
                                    </h5>
                                </div>
                            </div>
                            <div class="special-item">
                                <div class="product-image">
                                    <a href="#">
                                        <img src="images/products/thum/products-03.png" alt="">
                                    </a>
                                </div>
                                <div class="product-info">
                                    <p>
                                        Licoln Corner Unit
                                    </p>
                                    <h5 class="price">
                                        $300.00
                                    </h5>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix">
                        </div>
                        <div class="clearfix">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix">
        </div>
        <div class="footer">
            <div class="footer-info">
                <div class="container">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="footer-logo">
                                <a href="index.html">
                                    <img src="/images/Logo_IUH.png" alt="iuh">
                                </a>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <h4 class="title">Contact
                                <strong>Info</strong>
                            </h4>
                            <p>No. 24, Nguyen Van Bao, Q. Go Vap, Tp.HCM, Vietnam</p>
                            <p>Call Us : (+84) 9666 444 76</p>
                            <p>Email : haovo7640@gmail.com</p>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <h4 class="title">Customer
                                <strong> Support</strong>
                            </h4>
                            <ul class="support">
                                <li>
                                    <a href="#">FAQ</a>
                                </li>
                                <li>
                                    <a href="#">Payment Option</a>
                                </li>
                                <li>
                                    <a href="#">Booking Tips</a>
                                </li>
                                <li>
                                    <a href="#">Infomation</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-3">
                            <h4 class="title">Get Our
                                <strong>Newsletter </strong>
                            </h4>
                            <p>Lorem ipsum dolor ipsum dolor.</p>
                            <form class="newsletter">
                                <input type="text" name="" placeholder="Type your email....">
                                <input type="submit" value="SignUp" class="button">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="copyright-info">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <p>Copyright  2017</p>
                        </div>
                        <div class="col-md-6">
                            <ul class="social-icon">
                                <li>
                                    <a href="#" class="linkedin"></a>
                                </li>
                                <li>
                                    <a href="#" class="google-plus"></a>
                                </li>
                                <li>
                                    <a href="#" class="twitter"></a>
                                </li>
                                <li>
                                    <a href="#" class="facebook"></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Bootstrap core JavaScript==================================================-->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="/js/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="/js/jquery.easing.1.3.js"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/jquery.sequence-min.js"></script>
    <script type="text/javascript" src="/js/jquery.carouFredSel-6.2.1-packed.js"></script>
    <script defer src="/js/jquery.flexslider.js"></script>

    <script src="/js/script.js"></script>
</body>

</html>