<% layout('../../layoutAdmin') %>
    <% orders.forEach(function (order) { %>

        <h3>Order Detail</h3>
        <div class="ui grid container">
            <div class="five wide column">
                Name:
                <span>
                    <%= order.fullname %>
                </span>
            </div>
            <div class="five wide column">
                <address>
                    Address:
                    <%= order.address %>
                </address>
            </div>
            <div class="five wide column">
                <span>
                    Phone:
                    <%= order.phone %>
                </span>
            </div>
            <div class="five wide column">
                <span>
                    Email:
                    <%= order.email %>
                </span>
            </div>
            <div class="five wide column">
                <span class="xxx">
                    DateTime:
                </span>
                <script>
                    var date = new Date('<%= order.datetime %>');
                    $(".xxx").append(date.getDate() + "/" +
                        date.getMonth() + "/" +
                        date.getFullYear() + " " +
                        date.getHours() + ":" +
                        date.getMinutes() + ":" +
                        date.getSeconds());
                </script>
            </div>
            <div class="five wide column">
                <span class="red">
                    Status:
                    <%= order.status %>
                </span>
            </div>
            <div class="five wide column">
                <span class="red">
                    Payment Status:
                    <%= order.paystatus %>
                </span>
            </div>
        </div>


        <form class="ui form" action="/admin/editproduct/save" method="POST">

            <table class="shop-table">
                <thead>
                    <tr>
                        <th>
                            Image
                        </th>
                        <th>
                            Detail
                        </th>
                        <th>
                            Price
                        </th>
                        <th>
                            Quantity
                        </th>
                        <th>
                            Price
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <% products.forEach(function(p, index){ %>
                        <% p.forEach(function (pd) { %>
                            <tr>
                                <td>
                                    <img src="/images/products/small/products-06.png" alt="">
                                </td>
                                <td>
                                    <div class="shop-details">
                                        <div class="productname">
                                            <%= pd.productName %>
                                        </div>
                                        <p>
                                            <img alt="" src="/images/star.png">
                                            <a class="review_num" href="#">
                                                02 Review(s)
                                            </a>
                                        </p>
                                        <div class="color-choser">
                                            <span class="text">
                                                Product Color :
                                            </span>
                                            <ul>
                                                <li>
                                                    <a class="black-bg " href="#">
                                                        black
                                                    </a>
                                                </li>
                                                <li>
                                                    <a class="red-bg" href="#">
                                                        light red
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                        <p>
                                            Product Code :
                                            <strong class="pcode">
                                                Dress 120
                                            </strong>
                                        </p>
                                    </div>
                                </td>
                                <td>
                                    <h5>
                                        <%= pd.price %>
                                    </h5>
                                </td>
                                <td>
                                    <span>
                                        <% order.OrderDetails.forEach(function(o,index1){ %>
                                            <% if(index1 === index){ %>
                                                <%= o.quantity %>
                                            <% } %>
                                        <% }) %>
                                    </span>
                                </td>
                                <td>
                                    <h5>
                                        <strong class="red">
                                            <%= pd.price %>
                                        </strong>
                                    </h5>
                                </td>
                            </tr>
                            <% })%>
                                <% }) %>

                </tbody>
                <tfoot>
                    <tr>
                        <h3 class="red pull-right">
                            <p>Total: <%= order.total %></p>
                        </h3>
                    </tr>
                    <tr>
                        <td colspan="6">
                            <button class="pull-left ui button">
                                Reject
                            </button>
                            <% if(order.status === "Waiting"){ %>
                                <button class=" pull-right ui button">
                                    <a href="/order/approve/<%= order._id %>" id="Approve" onclick="return confirm('Are you sure you want to approve <%= order._id%>? ')">Approve</a>
                                </button>
                                
                            <% } else if(order.status === "Delivery"){ %>
                                <button class=" pull-right ui button">
                                    <a href="/order/approve/<%= order._id %>" id="Delivery" onclick="return confirm('Are you sure you want to finish this order <%= order._id%>? ')">Finish</a>
                                </button>
                            <% } %>
                            
                        </td>
                    </tr>
                </tfoot>
            </table>
        </form>
        <% })%>