<% layout('../../layoutAdmin') %>

    <% products.forEach(function (pd) { %>
    <form class="ui form" action="/admin/editproduct/save" method="POST">
        <div class="ui error message"></div>
        <div class="field">
            <label>Mã Sản Phẩm</label>
            <input readonly type="text" name="masanpham" placeholder="Mã SP" value="<%= pd._id %>">
        </div>
        <div class="field">
            <label>Tên Sản Phẩm</label>
            <input type="text" name="tensanpham" placeholder="Tên SP" value="<%= pd.productName %>">
        </div>
        <div class="field">
            <label>Giá</label>
            <input type="text" name="gia" placeholder="Giá sản phẩm" value="<%= pd.price %>">
        </div>

        <div class="field">
            <label>Loại</label>
            <select class="ui fluid selection dropdown" id="select" name ="loai">
                <option value="">Chọn loại sản phẩm</option>
                <% listCate.forEach(function(item){ %>
                    <option value="<%= item.CateId %>"><%= item.Name %></option>
                <% }) %>
            </select>
        </div>
        <div class="field">
                <label>Giới thiệu</label>
                <textarea name="gioithieu" placeholder="Tên SP" ></textarea>
            </div>
        <button class="ui button" type="submit">Submit</button>
    </form>
    <% })%>