<% layout('../../layoutAdmin') %>

<div class="card mb-3">
    <div class="card-header">
        <i class="fa fa-table"></i> Danh sách sản phẩm</div>
    <div>
        <select class="ui dropdown" id="pageSize">
            <option value="">Page Size</option>
            <option value="10">10</option>
            <option value="20">20</option>
        </select>
        <% if(message.length >0){ %>
        <script src="/js/Semantic-UI-Alert.js"></script>
        <script>
            $.uiAlert({
                textHead: 'Success!', // header
                text: '<%= message %>', // Text
                bgcolor: '#19c3aa', // background-color
                textcolor: '#fff', // color
                position: 'top-right',// position . top And bottom ||  left / center / right
                icon: 'checkmark box', // icon in semantic-UI
                time: 3, // time
            })
        </script>
        <% } %>

    </div>
    <div class="card-body">
        <table class="ui striped table table-hover" id="dataTable" width="100%" cellspacing="0">
            <thead>
            <tr>
                <th></th>
                <th>Tên Loai ID</th>
                <th>Tên Loại</th>
                <th>Thể Loại</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <% products.forEach(function (pd) { %>
            <tr>
                <td>
                    <img src="" width="150px" />
                </td>
                <td>
                    <%= pd.CateId%>
                </td>

                <td>
                    <%= pd.Name%>
                </td>
                <td>
                    <%= pd.SubCategory%>

                </td>
                <td>
                    <p style="color: #4800ff">
                        <a href="/admin/category/edit/<%= pd._id %>" id="Edit">Edit</a> |
                        <a href="/admin/category/delete/<%= pd._id %>" id="Delete" onclick="return confirm('Are you sure you want to remove <%= pd.productName%>? ')">Delete</a>
                    </p>
                </td>
            </tr>
            <% })%>
            </tbody>
        </table>
        <!-- <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div> -->
        <% if (pageCount > 1) { %>
        <ul class="pagination">
            <% if (currentPage > 1) { %>
            <li><a href="/category/?page=1">&laquo;</a></li>
            <% } %>
            <% var i = 1;
                if (currentPage > 5) {
                    i = +currentPage - 4;
                } %>
            <% if (i !== 1) { %>
            <li class="disabled"><a href="#">...</a></li>
            <% } %>
            <% for (i; i<=pageCount; i++) { %>
            <% if (currentPage == i) { %>
            <li class="active"><span><%= i %> <span class="sr-only">(current)</span></span></li>
            <% } else { %>
            <li><a href="/category/?page=<%= i %>"><%= i %></a></li>
            <% } %>
            <% if (i == (+currentPage + 4)) { %>
            <li class="disabled"><a href="#">...</a></li>
            <% break; } %>
            <% } %>
            <% if (currentPage != pageCount) { %>
            <li><a href="/category/?page=<%= pageCount %>">&raquo;</a></li>
            <% } %>
        </ul>
        <% } %>
    </div>
</div>
